#app {
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

form label, input, button {
    display: block;
    margin: 5px;
}